:root {
    --primary-color: #A5BF45;
    --secondary-color: #235884;
    --dark-bg: #1A1E29;
    --light-text: #F2F2F2;
    --card-bg: #2a2f3a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, a, li, span, button {
  font-family: 'Exo 2', sans-serif;
}
body {
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
    background-color: #1A1E29;
    padding-top: 39px;
}

.banner {
  width: 100%;
  overflow: hidden; /* Evita barras de desplazamiento si la imagen sobresale */
}

.contenedor-banner {
  width: 100%;
  height: 350px; /* Alto estándar hero banner */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}

