/* Fuente general */
body {
  font-family: 'Exo 2', sans-serif;
}

/* Footer personalizado */
.footer-custom {
  background-color: #235884;
  color: #FFF9F2;
  padding-top: 2rem;
  padding-bottom: 2rem
}
.logo-footer {
  width: 100px; /* Puedes ajustar el tamaño aquí */
  height: auto;
}

/* Títulos del footer */
.footer-custom h5 {
  color: #A5BF45;
  font-weight: bold;
}

/* Enlaces */
.footer-custom a {
  color: #FFF9F2;
  text-decoration: none;
}

.footer-custom a:hover {
  color: #A5BF45;
  text-decoration: underline;
}

/* Línea inferior */
.footer-custom .border-top {
  border-top: 1px solid #A5BF45 !important;
  color: #FFF9F2;
}

/* Nombre de marca con 'c' especial en primera columna */
.nombre-marca {
  font-weight: bold;
  font-size: 1.2rem;
  color: #FFF9F2;
}

.nombre-marca .letra-c {
  color: #A5BF45;
}
