:root {
    --primary-color: #A5BF45;
    --secondary-color: #235884;
    --dark-bg: #1A1E29;
    --light-text: #F2F2F2;
    --card-bg: #2a2f3a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, a, li, span, button {
  font-family: 'Exo 2', sans-serif;
}
body {
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
    background-color: #1A1E29;
}

.section-title:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
}

.card-hover:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.value-card {
    border-left: 4px solid var(--secondary-color);
}

section {
    background-color: var(--dark-bg);
    color: var(--light-text);
}

.section-title {
    margin-bottom: 30px;
    position: relative;
    color: var(--primary-color) !important;
    font-weight: 700;
}
.img-nosotros {
  transition: transform 0.3s ease;
  width: 550px;
}
.img-nosotros:hover {
  transform: scale(1.1);
}

.card {
    background-color: var(--light-text);
    border: none;
    box-shadow: 0 8px 32px 0 rgba(35, 88, 132, 0.45), 0 3px 18px 0 rgba(0, 0, 0, 0.35);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--card-bg);
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px var(--primary-color);
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px var(--primary-color);
}

/* Íconos */
.card .fas,
.card .bi,
.card .fab,
.card-title {
    color: var(--primary-color);
}

.card-subtitle {
    color: #ccc;
}

.social-links a i {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a i:hover {
    color: var(--primary-color);
}

.bg-light {
    background-color: #F2F2F2 !important;
}

.team-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    margin-bottom: 1rem;
}

